{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/navbarStyle.css' %}">
    <title>navbar-test</title>
</head>
<body>
    <div class="navabr">
        <div class="navs">
            <div class="nav-logo">
                <h1 onclick="location.pathname='/';" style="cursor:pointer;">Events Log</h1>
            </div>
            <div class="nav-ul">
                <ul class="list">
                    <li class='item'>
                        <a href="create/">Add Event</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>